.slider-container {
    position: relative;
}

.slider-text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    padding: 20px;
    text-align: center;
    width: 60%;
    color: #fff;
    animation: fadeOut 4s 2s forwards;
    border-radius: 4%;

}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.thumbnail-row img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.text-section {
    padding: 50px;
    text-align: center;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-fluid {
    margin-top: -80px;
    padding: 1% 0;
    background-color: #545344;
}

.container-fluid-image {
    margin-top: 0px;
    padding: 0;
    background-image: url('../images/costablanca.png');
    background-size: cover;
    background-position: center;
    /* margin-top: -80px; */
    height: auto;
}

.mobile-only {
    display: none;
    /* Ocultar por defecto */
}

@media (max-width: 768px) {
    .container-fluid-image {
        display: none;
        background-color: #6992A7;
    }

    .mobile-only {
        position: relative;
        width: 100%;
        display: block;
    }

    #slider{
        display: none;
    }
}

.image-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.full-height-img {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: 100%;
    object-fit: cover;
}

.col-md-6 h2 {
    text-align: center;
    font-size: 2rem;
}

.gallery img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.thmb-img {
    border-radius: 2%;
    transition: opacity 0.3s ease;

}

.thmb-img:hover {
    opacity: 0.6;
}