.fa-umbrella-beach,
.fa-plane-departure,
.fa-hospital-alt,
.uil-restaurant,
.fa-golf-ball {
    font-size: 32px;
    color: #E0A800;
}

@media (max-width: 768px) {

    .fa-umbrella-beach,
    .fa-plane-departure,
    .fa-hospital-alt,
    .uil-restaurant,
    .fa-golf-ball {
        font-size: 22px;
        color: #E0A800;
    }
}